{% extends 'news/default.html' %}

{% block title %}Создание новости{% endblock %}

{% block header %}Создание новости{% endblock %}

{% block content %}
    <h2>Создание НОВОСТИ</h2>
    <form method="post">
        {% csrf_token %}
        <label>Название новости:</label>
        <input type="text" name="title" required>
        <br>
        <label>Автор:</label>
        <input type="text" name="author" required>
        <br>
        <label>Содержание:</label>
        <textarea name="content" required></textarea>
        <br>

        <!-- Радиокнопка для выбора типа записи -->
        <div class="mt-3">
            <label>Тип записи:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="record_type" value="news" id="newsRadio" checked>
                <label class="form-check-label" for="newsRadio">Новость</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="record_type" value="article" id="articleRadio">
                <label class="form-check-label" for="articleRadio">Статья</label>
            </div>
        </div>

        <button type="submit">Записать</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}
